<!DOCTYPE html>
<html>
<head>
	<title>Human Resource Management Academic Research Society</title>
	<style>
		.first{
			display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
		}
		.main {
		    text-align: center;
		    width: 600px;
		    height: 200px;
		    margin: auto auto;
		}
	</style>
</head>
<body>

	<div class="first">
		<div class="main">
			<h2>Welcome To Future Technology Solution</h2>
			<h4>For More contact at: </h4>
			<h5>Zesshan : 03136111500</h5>
			<h5>Abdul Manan: 03017410116</h5>
		</div>
	</div>
</body>
</html>